/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
/* Styles for Text Genbun */
.genbun {
  font-weight:bold;
}
.honyaku {
  color:#00f;
  display: block;
}
